/* global */
:root {
    --primary-dark-cyan: hsl(185, 75%, 39%);
    --primary-very-dark-blue: hsl(229, 23%, 23%);
    --primary-dark-grayish: hsl(227, 10%, 46%);
    --primary-white: hsl(0, 0%, 100%);

    --neutral-dark-gray: hsl(0, 0%, 59%);
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-dark-cyan);
}
.top, .bottom {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -5;
    background-repeat: no-repeat;
}
.top {
    background-image: url(/assets/images/bg-pattern-top.svg);
    right: 50vw;
    bottom: 50vh;
    transform: rotate(190deg);
}
.bottom {
    background-image: url(/assets/images/bg-pattern-bottom.svg);
    left: 50vw;
    top: 50vh;
}
main.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

/* profil card */
.profil-card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    background-color: var(--primary-white);
    border-radius: 15px;
    align-items: center;
}
img.hero {
    border-radius: 15px 15px 0 0;
    position: relative;
}
.profil-pic {
    position: absolute;
    bottom: 52vh;
    border-radius: 50%;
    border: 5px var(--primary-white) solid;
}
h4 {
    margin-top: 65px;
}
span, p  {
    font-weight: 400;
    color: var(--primary-dark-grayish);
}
p {
    margin-top: -10px;
}
hr {
    color: var(--neutral-dark-gray);
    opacity: .2;
    width: 100%;
    z-index: 1;
}
table {
    margin-top: 20px;
    width: 100%;
}
tr {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
th {
    font-weight: 700;
    font-size: 1.1rem;
    width: 30px;
}
td {
    width: 30px;
    font-weight: 400;
    font-size: .8rem;
    color: var(--primary-dark-grayish);
}

/* copyright */
.attribution { 
    font-size: 11px; text-align: center; 
    color: var(--primary-white);
    padding-top: 5px;
}
.attribution a { 
    color: #85ffff;
}
.attribution a:hover { 
    text-decoration: none;
}